
.carousel {
    width: 100%;
    max-width: 400px;
    margin: auto;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    width: 100%;
    max-width: 400px;
    height: 200px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carou_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.carou_btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

  