body {
    width: 100%;
    margin: 0;
    font-family: "Montserrat", "Montserrat-fallback", Arial, sans-serif;
    background-color: black;
    color: white;
}

.header_container {
    background-color: aqua;
    margin: auto;
    height: 150px;
    position: relative;
}

.footer_container {
    background-color: aqua;
    margin: auto;
    position: relative;
}

.site_name_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40%;

}

main {
    background-color: blue;
    margin: auto;
    padding-bottom: 20px;
  


}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 200;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    
}

article {
    background-color: blueviolet;
    padding: 0px 20px 0px 20px;;
    margin: 20px;
    max-width: 400px;
    
}

.article_bandeau {
    display: flex;
    flex-wrap: nowrap;
}

.article_bandeau_info {
    margin-left: auto;
    padding-left: 15px;
    max-width: 30%;
}

.content {
    background-color: brown;
}

/* media querie pour mobile */
@media screen and (min-width : 768px) and (max-width: 1930px){
    main {

        max-width: 1080px;

    }

    .header_container {
        max-width: 1080px;
    }

    .footer_container {
        max-width: 1080px;
    }

}

/* media querie pour écran standard */
@media screen and (min-width: 1930px) and (max-width: 2700px) {

    main {

        max-width: 1680px;

    }

    .header_container {
        max-width: 1680px;
    }

    .footer_container {
        max-width: 1080px;
    }

}

/* media querie pour les écran ultrawide */
@media screen and (min-width: 2700px) {

    main {

        max-width: 2560px;

    }

    .header_container {
        max-width: 2560px;
    }

    .footer_container {
        max-width: 1080px;
    }
}