@import url(navbar.css);
@import url(galery.css);

.center_text {
    text-align: center;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Montserrat-fallback", Arial, sans-serif;
    background-color: #070A32;
    color: #070A32;
    overflow-x: hidden;
}

header {
    background-color: #CED1DA;
}

footer {
    background-color: #CED1DA;
}

.header_container {
    margin: auto;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_left_block {
    width: 27px;
    margin: 50px;
}


.footer_container {
    margin: auto;
    position: relative;
    padding: 10px;
}

.reseaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.mentions {
    text-align: center;
}

.site_name_container {
    font-size: 45px;
    font-weight: bold;

}

main {
    background-color: #2B2E63;
    margin: auto;
    padding: 0px 0px 20px 0px;
    color: white;
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 200;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
}


#create_post {
    display: flex; 
    justify-content: space-between;
    border: solid;
    border-radius: 35px;
    border-color: #E28D0C;
    border-width: 5px;
    background-color: #CED1DA;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.create_infos {
    width: 120px;
}

#title_post {
    margin-bottom: 10px;
}

#id_post, #author_post {
    width: 80px;
    margin-bottom: 10px;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    
}

article {
    border: solid;
    border-radius: 35px;
    border-color: #E28D0C;
    border-width: 5px;
    background-color: #CED1DA;
    padding: 0px 20px 0px 20px;;
    margin: 20px;
    width: 400px;
    color: black;
    
}

.article_bandeau {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; 
}

.article_bandeau_info {
    padding-left: 15px;
    max-width: 30%;
}

.content {
    border-top: solid;
    border-color: #E28D0C;
    border-width: 5px;
    width: 100%;
}

.created_article:hover {
    opacity: 0.8;
    cursor: pointer;
}

.delete_article {
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

.delete_article .btn {
    margin: 10px;
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.delete_article .delete_cancel {
    background-color: red;
}

/* media querie pour écran standard */
@media screen and (min-width : 768px) and (max-width: 1930px){
    main {

        max-width: 1080px;

    }

    .header_container {
        max-width: 1080px;
    }

    .footer_container {
        max-width: 1080px;
    }

}

/* media querie pour grand écran */
@media screen and (min-width: 1930px) and (max-width: 2700px) {

    main {

        max-width: 1680px;

    }

    .header_container {
        max-width: 1680px;
    }

    .footer_container {
        max-width: 1080px;
    }

}

/* media querie pour les écran ultrawide */
@media screen and (min-width: 2700px) {

    main {

        max-width: 2560px;

    }

    .header_container {
        max-width: 2560px;
    }

    .footer_container {
        max-width: 1080px;
    }
}